@font-face {
    font-family: "norseBold";
    src: url(Norse-Bold.otf);
}

:root {
    --img-size: 450px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

#image-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--img-size);
}

#conard {
    position: relative;
    width: var(--img-size);
    height: 100%;
    object-fit: cover;
}

#odin {
    border: red solid 3px;
    position: absolute;
    left: 0;
    top: 200px;
    width: 100px;
    height: auto;
}

#logo-text {
    font-family: "norseBold";
    position: absolute;
    left: 150px;
    top: 200px;
    color: black;
    border: green solid 2px;
    width: 100%;
}



#right-side {
    position: absolute;
    left: var(--img-size);
    top: 0;
    bottom: 0;
    right: 0;
}
