@font-face {
    font-family: "norseBold";
    src: url(Norse-Bold.otf);
}

:root {
    --img-size: 450px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

#image-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--img-size);
}

#conard {
    position: relative;
    width: var(--img-size);
    height: 100%;
    object-fit: cover;
}

#odin {
    border: red solid 3px;
    position: absolute;
    left: 80px;
    top: 210px;
    width: 80px;
    height: auto;
    z-index: 1;
}

#logo-text {
    font-family: "norseBold";
    text-align: center;
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: 200px;
    color: white;
    border: green solid 2px;
    background-color: rgba(0, 128, 0, 0.34);
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}



#right-side {
    position: absolute;
    left: var(--img-size);
    top: 0;
    bottom: 0;
    right: 0;
}
