body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

#image-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 330px;
}

img {
    width: 330px;
    height: 100%;
    object-fit: cover;
}

#right-side {
    position: absolute;
    left: 330px;
    top: 0;
    bottom: 0;
    right: 0;
}

header {
    background-color: #f3f3f3;
    font-weight: bold;
}